In [8]:
! pip install sqlalchemy
! pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\users\micel\appdata\roaming\python\python312\site-packages (2.0.28)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\programmes\miniconda\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in d:\programmes\miniconda\lib\site-packages (from sqlalchemy) (3.0.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in d:\programmes\miniconda\lib\site-packages (1.0.2)

In [9]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
import urllib.parse

In [1]:
import sqlalchemy

In [2]:
import mysql.connector

In [3]:
# Establishing a connection to the Sakila database
connection = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Silver57",
    database="sakila"
)

In [4]:
# Check if the connection is successful
if connection.is_connected():
    print("Connected to MySQL database")
else:
    print("Failed to connect to MySQL database")

Connected to MySQL database

In [5]:
# Creating a cursor object
cursor = connection.cursor()

# Executing a sample query
cursor.execute("SELECT * FROM actor LIMIT 5")

# Fetching the results
results = cursor.fetchall()

# Displaying the results
for row in results:
    print(row)

# Closing cursor and connection
cursor.close()
connection.close()

(1, 'PENELOPE', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(2, 'NICK', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33))
(3, 'ED', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(5, 'JOHNNY', 'LOLLOBRIGIDA', datetime.datetime(2006, 2, 15, 4, 34, 33))

# DO NOT RUN --> USELESS 
#  connecting the database

# from sqlalchemy as db
# engine = db.create_engine("sqlite:///european_database.sqlite")

# conn = engine.connect()

In [ ]:
connection_string = 
engine = create_engine(connection_string)
connection = engine.connect()

In [7]:
new_df = pd.read_sql_query(sql, engine)

NameError: name 'pd' is not defined